
/*Referencia ao html inteiro*/
:root {
    /* variaveis css */
    --color-background: #F0F0F7; 
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;

    /* tamanho da fonte padrão: 16px ou 100% ou 1rem(relativo ao root) */
    font-size: 60%; /* controle das medidas rem */
}

/* Muitos elementos */
* {
    /* 1px = tudo
       1px 1px = cima/baixo laterais
       1px 1px 1px = cima laterais baixo
       1px 1px 1px 1px = cima baixo esq dir */
    margin: 0; /* margem */
    padding: 0; /* preenchimento */
    
    /* content-box: padrao soma o conteudo com o padding e expande */
    box-sizing: border-box; /* define pelo tamanho da caixa e nao o conteudo (pela borda) */



    /* width: 300px largura 
       heigth: 300px altura

       display: block linha por linha
       display: inline lado a lado
       display: flex elementos tem que ser flexiveis
       display: grid ??
    */
}

html,
body{
    height: 100vh; /* altura visivel */
}

body {
    background-color: var(--color-background); /*Cor de fundo*/
    display: flex;
    align-items: center; 
    justify-content: center; 
}

body,
input,
button,
textarea{
    font: 500 1.6rem Poppins;
    /*font-weight: 500; força da fonte
    font-family: Poppins; estilo da fonte
    font-size: 1.6rem; tamanho da fonte*/ 
    color: var(--color-text-base) 
}

#container {
    width: 90vw; /* largura */
    max-width: 700px; /* largura maxima */
}