#page-give-classes #container {
    width: 100vw;
    height: 100vh;
}

/*
#page-give-classes .page-header .header-content {
    margin-bottom: 6.4rem;
}*/

#page-give-classes main {
    background: var(--color-box-base); /* cor de fundo */
    width: 100%; /* largura */
    max-width: 74rem; /* largura maxima */
    border-radius: 0.8rem; /* arredondamento da borda */
    margin: -3.2rem auto 3.2rem; /* margem (negativo vai na direção contraria) */
    padding-top: 6.4rem; /* preenchimento topo */
}

#page-give-classes fieldset {
    border: none; /* retirar bordas */

    padding: 0 2.4rem ; /* preenchimento nas laterais */
}

#page-give-classes fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title); /* cor do texto */
    margin-bottom: 2.4rem; /* margem base */

    /* alinhamento */
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%; /* largura */

    padding-bottom: 1.6rem; /* preenchimento */
    border-bottom: 1px solid var(--color-line-in-white); /* borda base */
}

#page-give-classes fieldset legend button {
    background: none; /* retirar cor de fundo */
    border: 0;

    color: var(--color-primary);

    font: 700 1.6rem Archivo;

    cursor: pointer;

    transition: 0.2s; 
}

/* propriedades aplicadas somente no estado hover(mouse em cima) */
#page-give-classes fieldset legend button:hover {
    transform: translateY(-5px);
    color: var(--color-primary-dark);
}

/* fieldset que tenha um fieldset na frente */
#page-give-classes fieldset+fieldset {
    margin-top: 6.4rem; /* margem topo */
}

/* input-block que tenha um input-block na frente */
#page-give-classes .input-block+.input-block,
#page-give-classes .input-block+.textarea-block,
#page-give-classes .select-block+.input-block {
    margin-top: 2.4rem; /* margem topo */
}

#page-give-classes main footer {
    padding: 4rem 2.4rem;

    background: var(--color-box-footer); /* cor de fundo */
    border-top: 1px solid var(--color-line-in-white); /* cor da borda */
    margin-top: 6.4rem; /* margem topo */
}

#page-give-classes main footer p {
    /* alinhamento */
    display: flex;
    align-items: center;
    justify-content: center; 

    font-size: 1.4rem; /* tamanho da fonte */
    line-height: 2.4rem; /* altura da linha */

    color: var(--color-text-complement); /* cor do texto */
}

#page-give-classes main footer p img {
    margin-right: 2rem;
}

#page-give-classes main footer button {
    width: 100%; /* largura */
    height: 5.6rem; /* altura */
    background: var(--color-secondary); /* cor de fundo */
    color: var(--color-button-text); /* cor do texto */
    border: 0; /* retirar borda */
    border-radius: 0.8rem; /* arredondar borda */
    cursor: pointer;
    font: 700 1.6rem Archivo;
    
    /* alinhamento */
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none; /* retirar decorações */
    transition: 0.2s;
    margin-top: 3.2rem; /* margem topo */
}

/* propriedades aplicadas somente no estado hover(mouse em cima) */
#page-give-classes main footer button:hover {
    background: var(--color-secondary-dark);
}

.schedule-item+.schedule-item {
    margin-top: 3.2rem;
    padding-top: 3.2rem;

    border-top: 1px solid var(--color-line-in-white);
}

/* se a largura minima esta em 700px (de 700 para cima), aplica as propriedades */
@media (min-width: 700px){
    #page-give-classes #container {
        max-width: 100vw;
    }

    #page-give-classes .page-header .header-content {
        margin-bottom: 0;
    }

    #page-give-classes main fieldset{
        padding: 0 64px;
    } 

    .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        columns: 1.6rem;
    }

    #page-give-classes #schedule-items .select-block+.input-block,
    #page-give-classes #schedule-items .input-block+.input-block {
        margin-top: 0;
        margin-left: 2rem;
    }

    #page-give-classes main footer {
        padding: 40px 64px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-give-classes main footer button {
        margin-top: 0;

        width: 200px;
    }
    
}